:root {
  --heading-text-color: #f9f5f0;
  --body-text-color: #f9f5f0;
  --page-bg: #373737;
  --question-box-bg: #212121;
  --inset-box-bg: #292929;
}

* {
  color: var(--body-text-color);
  tab-size: 4;
}

body {
  width: 100%;
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: linear-gradient(#545454 0%, #373737 100%);
  background-attachment: fixed;
}

html {
  width: 100%;
  height: 100%;
}

.navbar {
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 6;
}

.navbar-text {
  color: white;
}

.navbar a {
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.navbar a:hover {
  box-shadow: inset 300px 0 0 0 rgb(253, 253, 253);
  color: black;
}

h1 {
  margin: 35px 0;
  font-weight: 400;
  letter-spacing: 4px;
}

h2 {
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 2px;
}

h3 {
  font-weight: 50;
  font-size: 18px;
  letter-spacing: 2px;
}

p {
  margin: 0 0 25px;
  font-size: 15px;
}

.assignment-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--heading-text-color);
  font-size: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.assignment-section {
  font-size: 25px;
}

.assignment-sub-section {
  font-size: 20px;
}

.website-scrennshot {
  max-width: 75%;
  max-height: 80%;
}

.prototype-img {
  max-width: 80%;
  height: auto;
}

.main-question-header {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--heading-text-color);
}

#questions li {
  color: var(--heading-text-color);
  width: 100%;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.question-box-opaque {
  background-color: var(--question-box-bg);
  border-radius: 20px;
  padding: 30px;
}

.inset-box {
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--inset-box-bg);
}

/* link hover animation taken from https://css-tricks.com/css-link-hover-effects/*/
.inline-link a {
  box-shadow: inset 0 0 0 0 var(--body-text-color);
  color: var(--body-text-color);
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.inline-link a:hover {
  color: rgb(0, 0, 0);
  box-shadow: inset 200px 0 0 0 var(--body-text-color);
}

ul {
  font-size: 1.12em;
  padding-left: 1.5em;
  line-height: 2;
}

.cardBg {
  background: rgb(58, 58, 59);
  background: linear-gradient(rgba(58, 58, 59, 1) 0%, rgba(56, 56, 57, 1) 35%, rgba(0, 0, 0, 1) 100%);
}

.card .read-more:hover {
  font-size: 14px;
}

.card:hover {
  box-shadow: 8px 8px 8px #0b0b0b;
  transform: scale(1.1);
}

.card {
  transition: 0.3s;
  margin: 1rem;
}

.card-img-height {
  height: 250px;
}

@media (min-width: 800px) {
  p {
    margin: 0 0 30px;
    font-size: 18px;
  }

  .content-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .inset-box {
    padding: 40px;
    border-radius: 15px;
  }

  .content-section:before {
    margin-top: -60px;
    margin-bottom: 40px;
  }
}

@media (max-width: 800px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  h1 {
    margin: 15px 0;
  }

  .assignment-title {
    font-size: 30px;
  }

  .assignment-section {
    font-size: 20px;
  }

  .website-scrennshot,
  .prototype-img {
    max-width: 80%;
    height: auto;
  }
}

.modal {
  display: block;
  width: 900px;
  max-width: 90%;
  height: 450px;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(#545454 0%, #373737 100%);
  background-attachment: fixed;
}

.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}
.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  padding: 20px 50px 20px 20px;
}
.close-button {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 40px;
  border: 0;
  top: 5%;
}

.icon-hover-effect {
  display: inline-block;
  transition: background-color 0.3s;
  height: 2em;
  width: 2em;
  padding: 0.25em;
  border-radius: 50%;
}

.icon-hover-effect:hover {
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
}

.noselect { /* For personal debugging purpose https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
